<div data-container="header" class="border-bottom d-unset color-border-muted no-print z-3 color-bg-default Header_header__frpqb">
    <header class="color-bg-default p-2 position-sticky top-0 z-1 border-bottom" role="banner" aria-label="Main">
        <div class="d-flex flex-justify-between p-2 flex-items-center flex-wrap" data-testid="desktop-header">
            <div tabindex="-1" class="Header_logoWithClosedSearch__zhF6Q" id="github-logo">
                <a rel="" class="d-flex flex-items-center color-fg-default no-underline mr-3" href="/en">
                    <img src="/assets/images/logo.png" height="32px" width="48px" alt="VST Press Logo">
                    <span class="h4 text-semibold ml-2 mr-3">VST Press</span>
                </a>
                <div class="hide-sm border-left pl-3">
                    <div data-testid="version-picker">
                        <button type="button" aria-label="Select GitHub product version: current version is free-pro-team@latest" class="types__StyledButton-sc-ws60qy-0 eXUwEj color-fg-default width-full p-1 pl-2 pr-2" id=":R15jcm:" aria-haspopup="true" tabindex="0">
                            <span data-component="buttonContent" class="Box-sc-g0xbh4-0 cEhRXB">
                                <span data-component="text">
                                    <span style="white-space:pre-wrap">Version:</span>
                                    <span class="f5 color-fg-muted text-normal" data-testid="field">0.0.1</span>
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-items-center">
                <div class="Header_searchContainerWithClosedSearch__h372b mr-3">
                    <div data-testid="search">
                        <div class="position-relative z-2">
                            <form role="search" class="width-full d-flex">
                                <meta name="viewport" content="width=device-width initial-scale=1"><label class="text-normal width-full">
                                    <span class="visually-hidden" aria-describedby="Enter a search term to find it in the GitHub Docs.">Search GitHub Docs</span>
                                    <span class="TextInputWrapper__TextInputBaseWrapper-sc-1mqhpbi-0 TextInputWrapper-sc-1mqhpbi-1 hwVwfS bIUUJm TextInput-wrapper" aria-busy="false"><input type="search" required="" data-testid="site-search-input" placeholder="Search GitHub Docs" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="512" aria-label="Search GitHub Docs" aria-describedby="Enter a search term to find it in the GitHub Docs." data-component="input" class="UnstyledTextInput-sc-14ypya-0 hDsDun" value=""></span>
                                </label>
                                <button data-component="IconButton" aria-label="Search" data-no-visuals="true" class="types__StyledButton-sc-ws60qy-0 dhXSOw">
                                    <svg aria-hidden="true" focusable="false" role="img" class="octicon octicon-search" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom;overflow:visible">
                                        <path d="M10.68 11.74a6 6 0 0 1-7.922-8.982 6 6 0 0 1 8.982 7.922l3.04 3.04a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215ZM11.5 7a4.499 4.499 0 1 0-8.997 0A4.499 4.499 0 0 0 11.5 7Z"></path>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-flex flex-items-center mr-3"></div>
                <div data-testid="header-signup" class="border-left">
                    <a href="https://github.com/signup?ref_cta=Sign+up&amp;ref_loc=docs+header&amp;ref_page=docs" target="_blank" rel="noopener" class="d-none d-lg-flex ml-3 btn color-fg-muted">Sign up</a>
                </div>
                <button data-component="IconButton" class="types__StyledButton-sc-ws60qy-0 cqwffv hide-lg hide-xl d-flex flex-items-center" data-testid="mobile-search-button" aria-label="Open Search Bar" aria-expanded="false" data-no-visuals="true">
                    <svg aria-hidden="true" focusable="false" role="img" class="octicon octicon-search" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom;overflow:visible">
                        <path d="M10.68 11.74a6 6 0 0 1-7.922-8.982 6 6 0 0 1 8.982 7.922l3.04 3.04a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215ZM11.5 7a4.499 4.499 0 1 0-8.997 0A4.499 4.499 0 0 0 11.5 7Z"></path>
                    </svg>
                </button>
                <button data-component="IconButton" class="types__StyledButton-sc-ws60qy-0 cZtNIR px-3" data-testid="mobile-search-button" aria-label="Close Search Bar" aria-expanded="false" data-no-visuals="true">
                    <svg aria-hidden="true" focusable="false" role="img" class="octicon octicon-x" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom;overflow:visible">
                        <path d="M3.72 3.72a.75.75 0 0 1 1.06 0L8 6.94l3.22-3.22a.749.749 0 0 1 1.275.326.749.749 0 0 1-.215.734L9.06 8l3.22 3.22a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L8 9.06l-3.22 3.22a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042L6.94 8 3.72 4.78a.75.75 0 0 1 0-1.06Z"></path>
                    </svg>
                </button>
                <div>
                    <button data-component="IconButton" data-testid="mobile-menu" aria-label="Open Menu" id=":R39jcm:" aria-haspopup="true" tabindex="0" data-no-visuals="true" class="types__StyledButton-sc-ws60qy-0 eevnrJ">
                        <svg aria-hidden="true" focusable="false" role="img" class="octicon octicon-kebab-horizontal" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom;overflow:visible">
                            <path d="M8 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM1.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm13 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex flex-items-center d-xxl-none mt-2">
            <div class="mr-2">
                <button data-component="IconButton" data-testid="sidebar-hamburger" class="types__StyledButton-sc-ws60qy-0 kaEPtC color-fg-muted" aria-label="Open Sidebar" data-no-visuals="true">
                    <svg aria-hidden="true" focusable="false" role="img" class="octicon octicon-three-bars" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom;overflow:visible">
                        <path d="M1 2.75A.75.75 0 0 1 1.75 2h12.5a.75.75 0 0 1 0 1.5H1.75A.75.75 0 0 1 1 2.75Zm0 5A.75.75 0 0 1 1.75 7h12.5a.75.75 0 0 1 0 1.5H1.75A.75.75 0 0 1 1 7.75ZM1.75 12h12.5a.75.75 0 0 1 0 1.5H1.75a.75.75 0 0 1 0-1.5Z"></path>
                    </svg>
                </button>
            </div>
            <div class="mr-auto width-full" data-search="breadcrumbs">
                <nav data-testid="breadcrumbs-header" class="f5 breadcrumbs Breadcrumbs_breadcrumbs__xAC4i" aria-label="Breadcrumb">
                    <ul>
                        <li class="d-inline-block">
                            <a rel="" data-testid="breadcrumb-link" title="GitHub Pages" class="Link--primary mr-2 color-fg-muted" href="/en/pages">GitHub Pages</a>
                            <span>/</span>
                        </li>
                        <li class="d-inline-block">
                            <a rel="" data-testid="breadcrumb-link" title="Quickstart" class="Link--primary mr-2 color-fg-muted" href="/en/pages/quickstart">Quickstart</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</div>