.Callout_container__O5r6j p {
    margin: 0;
}

.Callout_container__O5r6j a {
    text-decoration: underline;
}

.Fields_extrasDisplay__v0ZVm>span:first-child {
    display: none;
}

.HeaderNotifications_container__Q13Zm {
    position: relative;
}

.HeaderNotifications_container__Q13Zm a {
    color: var(--color-accent-fg);
    text-decoration: underline;
}

.Breadcrumbs_breadcrumbs__xAC4i {
    -webkit-clip-path: inset(-0.5rem -0.5rem -0.5rem 0);
    clip-path: inset(-0.5rem -0.5rem -0.5rem 0);
}

.VersionPicker_itemsWidth__eW2YO {
    width: 14rem;
}

.Header_header__frpqb {
    display: unset;
}

.Header_portalRoot__n3Pbk * {
    z-index: 3 !important;
}

.Header_widgetsContainer__0qU8C {
    width: 100%;
}

@media (min-width: 768px) {
    .Header_widgetsContainer__0qU8C {
        width: auto;
    }
}

.Header_searchContainerWithClosedSearch__h372b {
    display: none;
}

@media (min-width: 768px) {
    .Header_searchContainerWithClosedSearch__h372b {
        display: block;
    }
}

.Header_searchContainerWithOpenSearch__xG9NK {
    width: 100%;
    margin-right: -1px;
}

@media (min-width: 768px) {
    .Header_searchContainerWithOpenSearch__xG9NK {
        width: auto;
    }
}

.Header_logoWithClosedSearch__zhF6Q {
    display: flex;
    align-items: center;
    color: var(--color-bg-default);
}

.Header_logoWithOpenSearch__47_zS {
    display: none;
}

@media (min-width: 768px) {
    .Header_logoWithOpenSearch__47_zS {
        display: flex;
        align-items: center;
        color: var(--color-bg-default);
    }
}

.Header_menuOverlay__7j7M_ {
    min-width: 20rem;
}

@media (min-width: 1012px) {
    .Header_menuOverlay__7j7M_ {
        display: none;
    }
}

.Survey_visuallyHidden__Xh_nl {
    opacity: 0;
    margin: -0.4em;
}

.Survey_customRadio__aNqUl+label:before {
    content: "X";
    color: transparent;
    margin: 0px -33px 0px -17px;
    padding: 7px 20px 7px 20px;
}

.Survey_customRadio__aNqUl:focus+label:before {
    outline: 1px auto -webkit-focus-ring-color;
}

.DeprecationBanner_DeprecationBanner___7axT a {
    text-decoration: underline;
}

.MarkdownContent_markdownBody__v5MYy [class~=highlight] pre,
.MarkdownContent_markdownBody__v5MYy pre {
    margin-top: 0.5rem;
    border: 1px var(--color-border-default) solid;
}

.MarkdownContent_markdownBody__v5MYy [class~=height-constrained-code-block] pre {
    max-height: 32rem;
}

.MarkdownContent_markdownBody__v5MYy [class~=code-example] {
    margin-top: 1.5rem;
}

.MarkdownContent_markdownBody__v5MYy [class~=code-example] pre,
.MarkdownContent_markdownBody__v5MYy [class~=code-example] div {
    margin-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-left: 1px var(--color-border-default) solid !important;
    border-bottom: 1px var(--color-border-default) solid !important;
    border-right: 1px var(--color-border-default) solid !important;
}

.MarkdownContent_markdownBody__v5MYy pre [class~=redbox],
.MarkdownContent_markdownBody__v5MYy pre [class~=greenbox],
.MarkdownContent_markdownBody__v5MYy pre [class~=bluebox] {
    color: var(--color-fg-on-emphasis);
    padding: 0 0.25rem;
    border-radius: 4px;
}

.MarkdownContent_markdownBody__v5MYy pre [class~=redbox] {
    background-color: var(--color-danger-emphasis);
}

.MarkdownContent_markdownBody__v5MYy pre [class~=greenbox] {
    background-color: var(--color-success-emphasis);
}

.MarkdownContent_markdownBody__v5MYy pre [class~=bluebox] {
    background-color: var(--color-accent-emphasis);
}

.MarkdownContent_markdownBody__v5MYy h1,
.MarkdownContent_markdownBody__v5MYy h2,
.MarkdownContent_markdownBody__v5MYy h3,
.MarkdownContent_markdownBody__v5MYy h4,
.MarkdownContent_markdownBody__v5MYy h5 {
    padding-top: 1rem;
}

.MarkdownContent_markdownBody__v5MYy ol:not(.no-styling) {
    counter-reset: li;
    list-style: none;
    position: relative;
    padding-bottom: 0.5rem;
    padding-left: 0;
}

.MarkdownContent_markdownBody__v5MYy ol:not(.no-styling)>li {
    padding: 0.5rem 0 0.5rem 2.5rem;
    border: 0;
    position: relative;
    margin-bottom: 0.25rem;
}

.MarkdownContent_markdownBody__v5MYy ol:not(.no-styling)>li:before {
    width: calc(1.5rem - 2px);
    height: calc(1.5rem - 2px);
    font-size: calc(1rem - 2px);
    margin: 1px 0 0 0.5rem;
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: 0;
    color: var(--color-canvas-default);
    font-weight: 500;
    text-align: center;
    border-radius: 50%;
    background-color: var(--color-fg-default);
}

.MarkdownContent_markdownBody__v5MYy ol:not(.no-styling)>li:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.MarkdownContent_markdownBody__v5MYy ol:not(.no-styling)>li p {
    margin: 0;
}

.MarkdownContent_markdownBody__v5MYy ol:not(.no-styling)>li p:first-child {
    margin-top: 0;
}

.MarkdownContent_markdownBody__v5MYy ol:not(.no-styling)>li p:not(:first-child) {
    margin-top: 1rem;
}

.MarkdownContent_markdownBody__v5MYy ol:not(.no-styling)>li [class~=ghd-tool] {
    margin-top: 1rem;
}

.MarkdownContent_markdownBody__v5MYy ol:not(.no-styling)>li ol {
    padding-left: 2em;
    counter-reset: revert;
}

.MarkdownContent_markdownBody__v5MYy ol:not(.no-styling)>li ol>li {
    list-style-type: lower-alpha;
    padding-left: 0.5rem;
}

.MarkdownContent_markdownBody__v5MYy ol:not(.no-styling)>li ol>li:before {
    all: unset;
}

.MarkdownContent_markdownBody__v5MYy ol:not(.no-styling)>li ol>li:after {
    all: unset;
}

.MarkdownContent_markdownBody__v5MYy ol:not(.no-styling) ol li:before.no-styling {
    display: none;
}

.MarkdownContent_markdownBody__v5MYy ul ul,
.MarkdownContent_markdownBody__v5MYy ul ol,
.MarkdownContent_markdownBody__v5MYy ol ol,
.MarkdownContent_markdownBody__v5MYy ol ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Override primer style */
.MarkdownContent_markdownBody__v5MYy div>ol:not([type]) {
    list-style-type: none;
}

.MarkdownContent_markdownBody__v5MYy table {
    display: table;
    border-collapse: collapse;
    position: relative;
    font-size: 90%;
    width: 100%;
    line-height: 1.5;
    table-layout: fixed;
}

@media (min-width: 544px) {
    .MarkdownContent_markdownBody__v5MYy table {
        table-layout: auto;
    }
}

.MarkdownContent_markdownBody__v5MYy table code {
    font-size: 85%;
    padding: 0.2em 0.4em;
    border-radius: 6px;
}

.MarkdownContent_markdownBody__v5MYy table pre>code {
    padding: 0;
    background-color: transparent;
}

.MarkdownContent_markdownBody__v5MYy table thead tr {
    border: none;
}

.MarkdownContent_markdownBody__v5MYy table th {
    text-align: left;
    position: -webkit-sticky;
    position: sticky;
    vertical-align: top;
    z-index: 0;
    top: 105px;
    background: var(--color-canvas-default);
    box-shadow: 0 3px 0 0 var(--color-canvas-subtle);
    padding: 0.75rem 0.5rem;
    border: 0;
}

@media (min-width: 1400px) {
    .MarkdownContent_markdownBody__v5MYy table th {
        top: 65px !important;
    }
}

.MarkdownContent_markdownBody__v5MYy table th[align=center] {
    text-align: center;
}

.MarkdownContent_markdownBody__v5MYy table th[align=right] {
    text-align: right;
}

.MarkdownContent_markdownBody__v5MYy table th:first-child,
.MarkdownContent_markdownBody__v5MYy table td:first-child {
    padding-left: 0;
}

.MarkdownContent_markdownBody__v5MYy table td {
    padding: 0.75rem 0.5rem;
    border: 0;
    vertical-align: top;
}

.MarkdownContent_markdownBody__v5MYy table td p {
    padding: 0;
    margin: 0;
}

.MarkdownContent_markdownBody__v5MYy table tr:nth-child(2n) {
    background: none;
}

.MarkdownContent_markdownBody__v5MYy table td.MarkdownContent_has-nested-table__pNod5 {
    width: 100%;
}

.MarkdownContent_markdownBody__v5MYy table td.MarkdownContent_has-nested-table__pNod5 table {
    table-layout: auto;
}

.MarkdownContent_markdownBody__v5MYy :not(h1, h2, h3, h4, h5, h6, [role=tablist])>a {
    text-decoration: underline;
    text-underline-offset: 25%;
}

.MarkdownContent_markdownBody__v5MYy summary {
    outline: none;
}

.MarkdownContent_markdownBody__v5MYy summary h1,
.MarkdownContent_markdownBody__v5MYy summary h2,
.MarkdownContent_markdownBody__v5MYy summary h3,
.MarkdownContent_markdownBody__v5MYy summary h4,
.MarkdownContent_markdownBody__v5MYy summary h5,
.MarkdownContent_markdownBody__v5MYy summary h6 {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.MarkdownContent_markdownBody__v5MYy summary h1 p,
.MarkdownContent_markdownBody__v5MYy summary h2 p,
.MarkdownContent_markdownBody__v5MYy summary h3 p,
.MarkdownContent_markdownBody__v5MYy summary h4 p,
.MarkdownContent_markdownBody__v5MYy summary h5 p,
.MarkdownContent_markdownBody__v5MYy summary h6 p {
    margin: 0;
    padding: 0;
}

.Lead_container__m3L5f code {
    font-size: 85%;
    background-color: var(--color-canvas-subtle);
    border-radius: 6px;
    padding: 0.1em 0.2em;
}

.PermissionsStatement_permissions_statement__Na0L4 {
    border-left: 0.25rem solid var(--color-border-muted);
}

.SupportPortalVaIframe_supportPortalIframe__ay0ez {
    height: 0;
    width: 100%;
    overflow: hidden;
    border: none;
    display: none;
}

.ArticleGridLayout_containerBox__lLLio {
    max-width: 720px;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-areas: "topper" "intro" "sidebar" "content";
    grid-row-gap: 8px;
    row-gap: 8px;
}

@media (min-width: 1012px) {
    .ArticleGridLayout_containerBox__lLLio {
        max-width: none;
        padding-top: 24px;
        grid-template-rows: auto 1fr;
        grid-template-columns: minmax(500px, 720px) minmax(220px, 1fr);
        grid-template-areas: "topper sidebar" "intro sidebar" "content sidebar";
        column-gap: 80px;
        row-gap: 0;
    }
}

@media (min-width: 1012px) {
    .ArticleGridLayout_sidebarBox__Cj_03 {
        position: -webkit-sticky;
        position: sticky;
        padding-top: 24px;
        top: 5em;
        max-height: calc(100vh - 5em);
        overflow-y: auto;
        padding-bottom: 40px !important;
    }
}

.ArticleInlineLayout_containerBox__p5DcK {
    max-width: 720px;
    margin: 24px auto;
    padding: 0 16px;
    align-content: center;
    grid-column-gap: 80px;
    column-gap: 80px;
    grid-row-gap: 0;
    row-gap: 0;
    grid-template-areas: "breadcrumbs" "topper" "sidebar" "intro" "content";
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax(300px, 720px);
    display: grid;
}

@media (min-width: 768px) {
    .ArticleInlineLayout_containerBox__p5DcK {
        display: grid;
        justify-items: flex-start;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .ArticleInlineLayout_contentBox__Guuxy {
        padding-top: 24px;
    }
}

.ArticleInlineLayout_articleContainer__Sb_Af {
    max-width: 720px;
}

.ArticleInlineLayout_sidebarBox__nMJ_o {
    border-bottom: 1px solid var(--color-border-default) !important;
}

@media (min-width: 1400px) {
    .ArticleInlineLayout_sidebarBox__nMJ_o {
        border-bottom: none !important;
    }
}

.Minitocs_indentNested__i3Cq9 {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}

.Minitocs_nested__JSAov ul div li {
    padding-left: 4em;
}

.Minitocs_nested__JSAov li {
    padding-left: 2em;
}

.Minitocs_miniToc__NaGol li a {
    padding: 4px 0 4px 0;
    margin-left: 7px;
    overflow-wrap: anywhere;
}

.BumpLink_container__5xUG_:hover .BumpLink_symbol__eQgyK {
    opacity: 1;
    transform: translateX(3px);
}

.BumpLink_symbol__eQgyK {
    display: inline-block;
    transform: translateX(0);
    color: inherit;
    opacity: 0;
    transition: 200ms;
    transform: translateX(0);
}