.eXUwEj {
    border-radius: 6px;
    border: 1px solid;
    border-color: transparent;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 32px;
    padding: 0 12px;
    gap: 8px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    -webkit-transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
    transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
    -webkit-transition-property: color, fill, background-color, border-color;
    transition-property: color, fill, background-color, border-color;
    color: #0969da;
    background-color: transparent;
    box-shadow: none;
}

.eXUwEj:focus:not(:disabled) {
    box-shadow: none;
    outline: 2px solid #0969da;
    outline-offset: -2px;
}

.eXUwEj:focus:not(:disabled):not(:focus-visible) {
    outline: solid 1px transparent;
}

.eXUwEj:focus-visible:not(:disabled) {
    box-shadow: none;
    outline: 2px solid #0969da;
    outline-offset: -2px;
}

.eXUwEj[href] {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.eXUwEj[href]:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.eXUwEj:hover {
    -webkit-transition-duration: 80ms;
    transition-duration: 80ms;
}

.eXUwEj:active {
    -webkit-transition: none;
    transition: none;
}

.eXUwEj:disabled {
    cursor: not-allowed;
    box-shadow: none;
    color: #8c959f;
}

.eXUwEj:disabled [data-component=ButtonCounter],
.eXUwEj:disabled [data-component="leadingVisual"],
.eXUwEj:disabled [data-component="trailingAction"] {
    color: inherit;
}

@media (forced-colors:active) {
    .eXUwEj:focus {
        outline: solid 1px transparent;
    }
}

.eXUwEj [data-component=ButtonCounter] {
    font-size: 12px;
}

.eXUwEj[data-component=IconButton] {
    display: inline-grid;
    padding: unset;
    place-content: center;
    width: 32px;
    min-width: unset;
}

.eXUwEj[data-size="small"] {
    padding: 0 8px;
    height: 28px;
    gap: 4px;
    font-size: 12px;
}

.eXUwEj[data-size="small"] [data-component="text"] {
    line-height: calc(20 / 12);
}

.eXUwEj[data-size="small"] [data-component=ButtonCounter] {
    font-size: 12px;
}

.eXUwEj[data-size="small"] [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 4px;
}

.eXUwEj[data-size="small"][data-component=IconButton] {
    width: 28px;
    padding: unset;
}

.eXUwEj[data-size="large"] {
    padding: 0 16px;
    height: 40px;
    gap: 8px;
}

.eXUwEj[data-size="large"] [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 8px;
}

.eXUwEj[data-size="large"][data-component=IconButton] {
    width: 40px;
    padding: unset;
}

.eXUwEj[data-block="block"] {
    width: 100%;
}

.eXUwEj [data-component="leadingVisual"] {
    grid-area: leadingVisual;
    color: #656d76;
}

.eXUwEj [data-component="text"] {
    grid-area: text;
    line-height: calc(20/14);
    white-space: nowrap;
}

.eXUwEj [data-component="trailingVisual"] {
    grid-area: trailingVisual;
}

.eXUwEj [data-component="trailingAction"] {
    margin-right: -4px;
    color: #656d76;
}

.eXUwEj [data-component="buttonContent"] {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: grid;
    grid-template-areas: "leadingVisual text trailingVisual";
    grid-template-columns: min-content minmax(0, auto) min-content;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.eXUwEj [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 8px;
}

.eXUwEj:hover:not([disabled]) {
    background-color: #f3f4f6;
}

.eXUwEj:active:not([disabled]) {
    background-color: hsla(220, 14%, 94%, 1);
}

.eXUwEj[aria-expanded=true] {
    background-color: hsla(220, 14%, 94%, 1);
}

.eXUwEj[data-component="IconButton"][data-no-visuals] {
    color: #656d76;
}

.eXUwEj[data-no-visuals] {
    color: #0969da;
}

.eXUwEj:has([data-component="ButtonCounter"]) {
    color: #0969da;
}

.eXUwEj:disabled[data-no-visuals] {
    color: #8c959f;
}

.eXUwEj:disabled[data-no-visuals] [data-component=ButtonCounter] {
    color: inherit;
}

.eXUwEj {
    height: auto;
    text-align: left;
}

.eXUwEj span:first-child {
    display: inline;
}

.dhXSOw {
    border-radius: 6px;
    border: 1px solid;
    border-color: rgba(31, 35, 40, 0.15);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 32px;
    padding: 0 12px;
    gap: 8px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    -webkit-transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
    transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
    -webkit-transition-property: color, fill, background-color, border-color;
    transition-property: color, fill, background-color, border-color;
    color: #24292f;
    background-color: #f6f8fa;
    box-shadow: 0 1px 0 rgba(31, 35, 40, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.dhXSOw:focus:not(:disabled) {
    box-shadow: none;
    outline: 2px solid #0969da;
    outline-offset: -2px;
}

.dhXSOw:focus:not(:disabled):not(:focus-visible) {
    outline: solid 1px transparent;
}

.dhXSOw:focus-visible:not(:disabled) {
    box-shadow: none;
    outline: 2px solid #0969da;
    outline-offset: -2px;
}

.dhXSOw[href] {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.dhXSOw[href]:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.dhXSOw:hover {
    -webkit-transition-duration: 80ms;
    transition-duration: 80ms;
}

.dhXSOw:active {
    -webkit-transition: none;
    transition: none;
}

.dhXSOw:disabled {
    cursor: not-allowed;
    box-shadow: none;
    color: #8c959f;
}

.dhXSOw:disabled [data-component=ButtonCounter] {
    color: inherit;
}

@media (forced-colors:active) {
    .dhXSOw:focus {
        outline: solid 1px transparent;
    }
}

.dhXSOw [data-component=ButtonCounter] {
    font-size: 12px;
}

.dhXSOw[data-component=IconButton] {
    display: inline-grid;
    padding: unset;
    place-content: center;
    width: 32px;
    min-width: unset;
}

.dhXSOw[data-size="small"] {
    padding: 0 8px;
    height: 28px;
    gap: 4px;
    font-size: 12px;
}

.dhXSOw[data-size="small"] [data-component="text"] {
    line-height: calc(20 / 12);
}

.dhXSOw[data-size="small"] [data-component=ButtonCounter] {
    font-size: 12px;
}

.dhXSOw[data-size="small"] [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 4px;
}

.dhXSOw[data-size="small"][data-component=IconButton] {
    width: 28px;
    padding: unset;
}

.dhXSOw[data-size="large"] {
    padding: 0 16px;
    height: 40px;
    gap: 8px;
}

.dhXSOw[data-size="large"] [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 8px;
}

.dhXSOw[data-size="large"][data-component=IconButton] {
    width: 40px;
    padding: unset;
}

.dhXSOw[data-block="block"] {
    width: 100%;
}

.dhXSOw [data-component="leadingVisual"] {
    grid-area: leadingVisual;
}

.dhXSOw [data-component="text"] {
    grid-area: text;
    line-height: calc(20/14);
    white-space: nowrap;
}

.dhXSOw [data-component="trailingVisual"] {
    grid-area: trailingVisual;
}

.dhXSOw [data-component="trailingAction"] {
    margin-right: -4px;
}

.dhXSOw [data-component="buttonContent"] {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: grid;
    grid-template-areas: "leadingVisual text trailingVisual";
    grid-template-columns: min-content minmax(0, auto) min-content;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.dhXSOw [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 8px;
}

.dhXSOw:hover:not([disabled]) {
    background-color: #f3f4f6;
    border-color: rgba(31, 35, 40, 0.15);
}

.dhXSOw:active:not([disabled]) {
    background-color: hsla(220, 14%, 93%, 1);
    border-color: rgba(31, 35, 40, 0.15);
}

.dhXSOw[aria-expanded=true] {
    background-color: hsla(220, 14%, 93%, 1);
    border-color: rgba(31, 35, 40, 0.15);
}

.dhXSOw [data-component="leadingVisual"],
.dhXSOw [data-component="trailingVisual"],
.dhXSOw [data-component="trailingAction"] {
    color: #656d76;
}

.dhXSOw[data-no-visuals="true"] {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
}

.cqwffv {
    border-radius: 6px;
    border: 1px solid;
    border-color: rgba(31, 35, 40, 0.15);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 32px;
    padding: 0 12px;
    gap: 8px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    -webkit-transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
    transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
    -webkit-transition-property: color, fill, background-color, border-color;
    transition-property: color, fill, background-color, border-color;
    color: #24292f;
    background-color: #f6f8fa;
    box-shadow: 0 1px 0 rgba(31, 35, 40, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.cqwffv:focus:not(:disabled) {
    box-shadow: none;
    outline: 2px solid #0969da;
    outline-offset: -2px;
}

.cqwffv:focus:not(:disabled):not(:focus-visible) {
    outline: solid 1px transparent;
}

.cqwffv:focus-visible:not(:disabled) {
    box-shadow: none;
    outline: 2px solid #0969da;
    outline-offset: -2px;
}

.cqwffv[href] {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.cqwffv[href]:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.cqwffv:hover {
    -webkit-transition-duration: 80ms;
    transition-duration: 80ms;
}

.cqwffv:active {
    -webkit-transition: none;
    transition: none;
}

.cqwffv:disabled {
    cursor: not-allowed;
    box-shadow: none;
    color: #8c959f;
}

.cqwffv:disabled [data-component=ButtonCounter] {
    color: inherit;
}

@media (forced-colors:active) {
    .cqwffv:focus {
        outline: solid 1px transparent;
    }
}

.cqwffv [data-component=ButtonCounter] {
    font-size: 12px;
}

.cqwffv[data-component=IconButton] {
    display: inline-grid;
    padding: unset;
    place-content: center;
    width: 32px;
    min-width: unset;
}

.cqwffv[data-size="small"] {
    padding: 0 8px;
    height: 28px;
    gap: 4px;
    font-size: 12px;
}

.cqwffv[data-size="small"] [data-component="text"] {
    line-height: calc(20 / 12);
}

.cqwffv[data-size="small"] [data-component=ButtonCounter] {
    font-size: 12px;
}

.cqwffv[data-size="small"] [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 4px;
}

.cqwffv[data-size="small"][data-component=IconButton] {
    width: 28px;
    padding: unset;
}

.cqwffv[data-size="large"] {
    padding: 0 16px;
    height: 40px;
    gap: 8px;
}

.cqwffv[data-size="large"] [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 8px;
}

.cqwffv[data-size="large"][data-component=IconButton] {
    width: 40px;
    padding: unset;
}

.cqwffv[data-block="block"] {
    width: 100%;
}

.cqwffv [data-component="leadingVisual"] {
    grid-area: leadingVisual;
}

.cqwffv [data-component="text"] {
    grid-area: text;
    line-height: calc(20/14);
    white-space: nowrap;
}

.cqwffv [data-component="trailingVisual"] {
    grid-area: trailingVisual;
}

.cqwffv [data-component="trailingAction"] {
    margin-right: -4px;
}

.cqwffv [data-component="buttonContent"] {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: grid;
    grid-template-areas: "leadingVisual text trailingVisual";
    grid-template-columns: min-content minmax(0, auto) min-content;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.cqwffv [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 8px;
}

.cqwffv:hover:not([disabled]) {
    background-color: #f3f4f6;
    border-color: rgba(31, 35, 40, 0.15);
}

.cqwffv:active:not([disabled]) {
    background-color: hsla(220, 14%, 93%, 1);
    border-color: rgba(31, 35, 40, 0.15);
}

.cqwffv[aria-expanded=true] {
    background-color: hsla(220, 14%, 93%, 1);
    border-color: rgba(31, 35, 40, 0.15);
}

.cqwffv [data-component="leadingVisual"],
.cqwffv [data-component="trailingVisual"],
.cqwffv [data-component="trailingAction"] {
    color: #656d76;
}

.cZtNIR {
    border-radius: 6px;
    border: 1px solid;
    border-color: rgba(31, 35, 40, 0.15);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 32px;
    padding: 0 12px;
    gap: 8px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    -webkit-transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
    transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
    -webkit-transition-property: color, fill, background-color, border-color;
    transition-property: color, fill, background-color, border-color;
    color: #24292f;
    background-color: #f6f8fa;
    box-shadow: 0 1px 0 rgba(31, 35, 40, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.cZtNIR:focus:not(:disabled) {
    box-shadow: none;
    outline: 2px solid #0969da;
    outline-offset: -2px;
}

.cZtNIR:focus:not(:disabled):not(:focus-visible) {
    outline: solid 1px transparent;
}

.cZtNIR:focus-visible:not(:disabled) {
    box-shadow: none;
    outline: 2px solid #0969da;
    outline-offset: -2px;
}

.cZtNIR[href] {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.cZtNIR[href]:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.cZtNIR:hover {
    -webkit-transition-duration: 80ms;
    transition-duration: 80ms;
}

.cZtNIR:active {
    -webkit-transition: none;
    transition: none;
}

.cZtNIR:disabled {
    cursor: not-allowed;
    box-shadow: none;
    color: #8c959f;
}

.cZtNIR:disabled [data-component=ButtonCounter] {
    color: inherit;
}

@media (forced-colors:active) {
    .cZtNIR:focus {
        outline: solid 1px transparent;
    }
}

.cZtNIR [data-component=ButtonCounter] {
    font-size: 12px;
}

.cZtNIR[data-component=IconButton] {
    display: inline-grid;
    padding: unset;
    place-content: center;
    width: 32px;
    min-width: unset;
}

.cZtNIR[data-size="small"] {
    padding: 0 8px;
    height: 28px;
    gap: 4px;
    font-size: 12px;
}

.cZtNIR[data-size="small"] [data-component="text"] {
    line-height: calc(20 / 12);
}

.cZtNIR[data-size="small"] [data-component=ButtonCounter] {
    font-size: 12px;
}

.cZtNIR[data-size="small"] [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 4px;
}

.cZtNIR[data-size="small"][data-component=IconButton] {
    width: 28px;
    padding: unset;
}

.cZtNIR[data-size="large"] {
    padding: 0 16px;
    height: 40px;
    gap: 8px;
}

.cZtNIR[data-size="large"] [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 8px;
}

.cZtNIR[data-size="large"][data-component=IconButton] {
    width: 40px;
    padding: unset;
}

.cZtNIR[data-block="block"] {
    width: 100%;
}

.cZtNIR [data-component="leadingVisual"] {
    grid-area: leadingVisual;
}

.cZtNIR [data-component="text"] {
    grid-area: text;
    line-height: calc(20/14);
    white-space: nowrap;
}

.cZtNIR [data-component="trailingVisual"] {
    grid-area: trailingVisual;
}

.cZtNIR [data-component="trailingAction"] {
    margin-right: -4px;
}

.cZtNIR [data-component="buttonContent"] {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: grid;
    grid-template-areas: "leadingVisual text trailingVisual";
    grid-template-columns: min-content minmax(0, auto) min-content;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.cZtNIR [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 8px;
}

.cZtNIR:hover:not([disabled]) {
    background-color: #f3f4f6;
    border-color: rgba(31, 35, 40, 0.15);
}

.cZtNIR:active:not([disabled]) {
    background-color: hsla(220, 14%, 93%, 1);
    border-color: rgba(31, 35, 40, 0.15);
}

.cZtNIR[aria-expanded=true] {
    background-color: hsla(220, 14%, 93%, 1);
    border-color: rgba(31, 35, 40, 0.15);
}

.cZtNIR [data-component="leadingVisual"],
.cZtNIR [data-component="trailingVisual"],
.cZtNIR [data-component="trailingAction"] {
    color: #656d76;
}

.cZtNIR[data-no-visuals="true"] {
    display: none;
}

.eevnrJ {
    border-radius: 6px;
    border: 1px solid;
    border-color: rgba(31, 35, 40, 0.15);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 32px;
    padding: 0 12px;
    gap: 8px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    -webkit-transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
    transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
    -webkit-transition-property: color, fill, background-color, border-color;
    transition-property: color, fill, background-color, border-color;
    color: #24292f;
    background-color: #f6f8fa;
    box-shadow: 0 1px 0 rgba(31, 35, 40, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.eevnrJ:focus:not(:disabled) {
    box-shadow: none;
    outline: 2px solid #0969da;
    outline-offset: -2px;
}

.eevnrJ:focus:not(:disabled):not(:focus-visible) {
    outline: solid 1px transparent;
}

.eevnrJ:focus-visible:not(:disabled) {
    box-shadow: none;
    outline: 2px solid #0969da;
    outline-offset: -2px;
}

.eevnrJ[href] {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.eevnrJ[href]:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.eevnrJ:hover {
    -webkit-transition-duration: 80ms;
    transition-duration: 80ms;
}

.eevnrJ:active {
    -webkit-transition: none;
    transition: none;
}

.eevnrJ:disabled {
    cursor: not-allowed;
    box-shadow: none;
    color: #8c959f;
}

.eevnrJ:disabled [data-component=ButtonCounter] {
    color: inherit;
}

@media (forced-colors:active) {
    .eevnrJ:focus {
        outline: solid 1px transparent;
    }
}

.eevnrJ [data-component=ButtonCounter] {
    font-size: 12px;
}

.eevnrJ[data-component=IconButton] {
    display: inline-grid;
    padding: unset;
    place-content: center;
    width: 32px;
    min-width: unset;
}

.eevnrJ[data-size="small"] {
    padding: 0 8px;
    height: 28px;
    gap: 4px;
    font-size: 12px;
}

.eevnrJ[data-size="small"] [data-component="text"] {
    line-height: calc(20 / 12);
}

.eevnrJ[data-size="small"] [data-component=ButtonCounter] {
    font-size: 12px;
}

.eevnrJ[data-size="small"] [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 4px;
}

.eevnrJ[data-size="small"][data-component=IconButton] {
    width: 28px;
    padding: unset;
}

.eevnrJ[data-size="large"] {
    padding: 0 16px;
    height: 40px;
    gap: 8px;
}

.eevnrJ[data-size="large"] [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 8px;
}

.eevnrJ[data-size="large"][data-component=IconButton] {
    width: 40px;
    padding: unset;
}

.eevnrJ[data-block="block"] {
    width: 100%;
}

.eevnrJ [data-component="leadingVisual"] {
    grid-area: leadingVisual;
}

.eevnrJ [data-component="text"] {
    grid-area: text;
    line-height: calc(20/14);
    white-space: nowrap;
}

.eevnrJ [data-component="trailingVisual"] {
    grid-area: trailingVisual;
}

.eevnrJ [data-component="trailingAction"] {
    margin-right: -4px;
}

.eevnrJ [data-component="buttonContent"] {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: grid;
    grid-template-areas: "leadingVisual text trailingVisual";
    grid-template-columns: min-content minmax(0, auto) min-content;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.eevnrJ [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 8px;
}

.eevnrJ:hover:not([disabled]) {
    background-color: #f3f4f6;
    border-color: rgba(31, 35, 40, 0.15);
}

.eevnrJ:active:not([disabled]) {
    background-color: hsla(220, 14%, 93%, 1);
    border-color: rgba(31, 35, 40, 0.15);
}

.eevnrJ[aria-expanded=true] {
    background-color: hsla(220, 14%, 93%, 1);
    border-color: rgba(31, 35, 40, 0.15);
}

.eevnrJ [data-component="leadingVisual"],
.eevnrJ [data-component="trailingVisual"],
.eevnrJ [data-component="trailingAction"] {
    color: #656d76;
}

.eevnrJ[data-no-visuals="true"] {
    margin-left: 16px;
}

@media (min-width:768px) {
    .eevnrJ[data-no-visuals="true"] {
        margin-left: 0;
    }
}

@media (min-width:1012px) {
    .eevnrJ[data-no-visuals="true"] {
        display: none;
    }
}

.kaEPtC {
    border-radius: 6px;
    border: 1px solid;
    border-color: transparent;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 32px;
    padding: 0 12px;
    gap: 8px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    -webkit-transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
    transition: 80ms cubic-bezier(0.65, 0, 0.35, 1);
    -webkit-transition-property: color, fill, background-color, border-color;
    transition-property: color, fill, background-color, border-color;
    color: #0969da;
    background-color: transparent;
    box-shadow: none;
}

.kaEPtC:focus:not(:disabled) {
    box-shadow: none;
    outline: 2px solid #0969da;
    outline-offset: -2px;
}

.kaEPtC:focus:not(:disabled):not(:focus-visible) {
    outline: solid 1px transparent;
}

.kaEPtC:focus-visible:not(:disabled) {
    box-shadow: none;
    outline: 2px solid #0969da;
    outline-offset: -2px;
}

.kaEPtC[href] {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.kaEPtC[href]:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

.kaEPtC:hover {
    -webkit-transition-duration: 80ms;
    transition-duration: 80ms;
}

.kaEPtC:active {
    -webkit-transition: none;
    transition: none;
}

.kaEPtC:disabled {
    cursor: not-allowed;
    box-shadow: none;
    color: #8c959f;
}

.kaEPtC:disabled [data-component=ButtonCounter],
.kaEPtC:disabled [data-component="leadingVisual"],
.kaEPtC:disabled [data-component="trailingAction"] {
    color: inherit;
}

@media (forced-colors:active) {
    .kaEPtC:focus {
        outline: solid 1px transparent;
    }
}

.kaEPtC [data-component=ButtonCounter] {
    font-size: 12px;
}

.kaEPtC[data-component=IconButton] {
    display: inline-grid;
    padding: unset;
    place-content: center;
    width: 32px;
    min-width: unset;
}

.kaEPtC[data-size="small"] {
    padding: 0 8px;
    height: 28px;
    gap: 4px;
    font-size: 12px;
}

.kaEPtC[data-size="small"] [data-component="text"] {
    line-height: calc(20 / 12);
}

.kaEPtC[data-size="small"] [data-component=ButtonCounter] {
    font-size: 12px;
}

.kaEPtC[data-size="small"] [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 4px;
}

.kaEPtC[data-size="small"][data-component=IconButton] {
    width: 28px;
    padding: unset;
}

.kaEPtC[data-size="large"] {
    padding: 0 16px;
    height: 40px;
    gap: 8px;
}

.kaEPtC[data-size="large"] [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 8px;
}

.kaEPtC[data-size="large"][data-component=IconButton] {
    width: 40px;
    padding: unset;
}

.kaEPtC[data-block="block"] {
    width: 100%;
}

.kaEPtC [data-component="leadingVisual"] {
    grid-area: leadingVisual;
    color: #656d76;
}

.kaEPtC [data-component="text"] {
    grid-area: text;
    line-height: calc(20/14);
    white-space: nowrap;
}

.kaEPtC [data-component="trailingVisual"] {
    grid-area: trailingVisual;
}

.kaEPtC [data-component="trailingAction"] {
    margin-right: -4px;
    color: #656d76;
}

.kaEPtC [data-component="buttonContent"] {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: grid;
    grid-template-areas: "leadingVisual text trailingVisual";
    grid-template-columns: min-content minmax(0, auto) min-content;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.kaEPtC [data-component="buttonContent"]> :not(:last-child) {
    margin-right: 8px;
}

.kaEPtC:hover:not([disabled]) {
    background-color: #f3f4f6;
}

.kaEPtC:active:not([disabled]) {
    background-color: hsla(220, 14%, 94%, 1);
}

.kaEPtC[aria-expanded=true] {
    background-color: hsla(220, 14%, 94%, 1);
}

.kaEPtC[data-component="IconButton"][data-no-visuals] {
    color: #656d76;
}

.kaEPtC[data-no-visuals] {
    color: #0969da;
}

.kaEPtC:has([data-component="ButtonCounter"]) {
    color: #0969da;
}

.kaEPtC:disabled[data-no-visuals] {
    color: #8c959f;
}

.kaEPtC:disabled[data-no-visuals] [data-component=ButtonCounter] {
    color: inherit;
}

.cEhRXB {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.dmdEgz {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    pointer-events: none;
}

.hROlum {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
}

.iGPchh {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-weight: 400;
}

.Ywlla {
    list-style: none;
}

.cUxMoC {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.bQYDur {
    height: 20px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: #656d76;
    margin-left: 8px;
    font-weight: initial;
}

[data-variant="danger"]:hover .Box-sc-g0xbh4-0,
[data-variant="danger"]:active .bQYDur {
    color: #1F2328;
}

.gMkIpo {
    padding: 0;
    margin: 0;
    display: none;
}

.gMkIpo * {
    font-size: 14px;
}

.eQiQea {
    grid-area: topper;
}

.giVcWX {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    grid-area: sidebar;
}

.ijSsTo {
    grid-area: intro;
}

.kohLxz {
    grid-area: content;
}

.enEvIH {
    padding: 0;
    margin: 0;
    display: block;
}

.enEvIH * {
    font-size: 14px;
}

.daAEFx {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.gzcJGA {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.hgjakc {
    margin: 0;
    padding-inline-start: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.iFaQQI {
    margin: 0;
    padding-inline-start: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.kfCNnm {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 20px;
    min-height: 5px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 6px;
    -webkit-transition: background 33.333ms linear;
    transition: background 33.333ms linear;
    color: #1F2328;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: unset;
    border: unset;
    width: calc(100% - 16px);
    font-family: unset;
    text-align: unset;
    margin-top: unset;
    margin-bottom: unset;
    font-weight: 600;
    background-color: rgba(208, 215, 222, 0.24);
}

.kfCNnm[aria-disabled] {
    cursor: not-allowed;
}

.kfCNnm[aria-disabled] [data-component="ActionList.Checkbox"] {
    background-color: var(--color-input-disabled-bg, rgba(175, 184, 193, 0.2));
    border-color: var(--color-input-disabled-bg, rgba(175, 184, 193, 0.2));
}

@media (hover:hover) and (pointer:fine) {
    .kfCNnm:hover:not([aria-disabled]) {
        background-color: rgba(208, 215, 222, 0.32);
        color: #1F2328;
    }

    .kfCNnm:focus-visible,
    .kfCNnm>a:focus-visible {
        outline: none;
        border: 2 solid;
        box-shadow: 0 0 0 2px #0969da;
    }

    .kfCNnm:active:not([aria-disabled]) {
        background-color: rgba(208, 215, 222, 0.48);
        color: #1F2328;
    }
}

@media (forced-colors:active) {
    .kfCNnm:focus {
        outline: solid 1px transparent !important;
    }
}

.kfCNnm [data-component="ActionList.Item--DividerContainer"] {
    position: relative;
}

.kfCNnm [data-component="ActionList.Item--DividerContainer"]::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: -7px;
    border: 0 solid;
    border-top-width: 0;
    border-color: var(--divider-color, transparent);
}

.kfCNnm:not(:first-of-type) {
    --divider-color: rgba(208, 215, 222, 0.48);
}

[data-component="ActionList.Divider"]+.Item__LiBox-sc-yeql7o-0 {
    --divider-color: transparent !important;
}

.kfCNnm:hover:not([aria-disabled]),
.kfCNnm:focus:not([aria-disabled]),
.kfCNnm[data-focus-visible-added]:not([aria-disabled]) {
    --divider-color: transparent;
}

.kfCNnm:hover:not([aria-disabled])+.Item__LiBox-sc-yeql7o-0,
.kfCNnm[data-focus-visible-added]+li {
    --divider-color: transparent;
}

.kfCNnm::after {
    position: absolute;
    top: calc(50% - 12px);
    left: -8px;
    width: 4px;
    height: 24px;
    content: "";
    background-color: #0969da;
    border-radius: 6px;
}

.hUzceA {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 20px;
    min-height: 5px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 6px;
    -webkit-transition: background 33.333ms linear;
    transition: background 33.333ms linear;
    color: #1F2328;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: unset;
    border: unset;
    width: calc(100% - 16px);
    font-family: unset;
    text-align: unset;
    margin-top: unset;
    margin-bottom: unset;
}

.hUzceA[aria-disabled] {
    cursor: not-allowed;
}

.hUzceA[aria-disabled] [data-component="ActionList.Checkbox"] {
    background-color: var(--color-input-disabled-bg, rgba(175, 184, 193, 0.2));
    border-color: var(--color-input-disabled-bg, rgba(175, 184, 193, 0.2));
}

@media (hover:hover) and (pointer:fine) {
    .hUzceA:hover:not([aria-disabled]) {
        background-color: rgba(208, 215, 222, 0.32);
        color: #1F2328;
    }

    .hUzceA:focus-visible,
    .hUzceA>a:focus-visible {
        outline: none;
        border: 2 solid;
        box-shadow: 0 0 0 2px #0969da;
    }

    .hUzceA:active:not([aria-disabled]) {
        background-color: rgba(208, 215, 222, 0.48);
        color: #1F2328;
    }
}

@media (forced-colors:active) {
    .hUzceA:focus {
        outline: solid 1px transparent !important;
    }
}

.hUzceA [data-component="ActionList.Item--DividerContainer"] {
    position: relative;
}

.hUzceA [data-component="ActionList.Item--DividerContainer"]::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: -7px;
    border: 0 solid;
    border-top-width: 0;
    border-color: var(--divider-color, transparent);
}

.hUzceA:not(:first-of-type) {
    --divider-color: rgba(208, 215, 222, 0.48);
}

[data-component="ActionList.Divider"]+.Item__LiBox-sc-yeql7o-0 {
    --divider-color: transparent !important;
}

.hUzceA:hover:not([aria-disabled]),
.hUzceA:focus:not([aria-disabled]),
.hUzceA[data-focus-visible-added]:not([aria-disabled]) {
    --divider-color: transparent;
}

.hUzceA:hover:not([aria-disabled])+.Item__LiBox-sc-yeql7o-0,
.hUzceA[data-focus-visible-added]+li {
    --divider-color: transparent;
}

.bcdRxb {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 20px;
    min-height: 5px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 6px;
    -webkit-transition: background 33.333ms linear;
    transition: background 33.333ms linear;
    color: #1F2328;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: unset;
    border: unset;
    width: calc(100% - 16px);
    font-family: unset;
    text-align: unset;
    margin-top: unset;
    margin-bottom: unset;
}

.bcdRxb[aria-disabled] {
    cursor: not-allowed;
}

.bcdRxb[aria-disabled] [data-component="ActionList.Checkbox"] {
    background-color: var(--color-input-disabled-bg, rgba(175, 184, 193, 0.2));
    border-color: var(--color-input-disabled-bg, rgba(175, 184, 193, 0.2));
}

@media (hover:hover) and (pointer:fine) {
    .bcdRxb:hover:not([aria-disabled]) {
        background-color: rgba(208, 215, 222, 0.32);
        color: #1F2328;
    }

    .bcdRxb:focus-visible,
    .bcdRxb>a:focus-visible {
        outline: none;
        border: 2 solid;
        box-shadow: 0 0 0 2px #0969da;
    }

    .bcdRxb:active:not([aria-disabled]) {
        background-color: rgba(208, 215, 222, 0.48);
        color: #1F2328;
    }
}

@media (forced-colors:active) {
    .bcdRxb:focus {
        outline: solid 1px transparent !important;
    }
}

.bcdRxb [data-component="ActionList.Item--DividerContainer"] {
    position: relative;
}

.bcdRxb [data-component="ActionList.Item--DividerContainer"]::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: -7px;
    border: 0 solid;
    border-top-width: 0;
    border-color: var(--divider-color, transparent);
}

.bcdRxb:not(:first-of-type) {
    --divider-color: rgba(208, 215, 222, 0.48);
}

[data-component="ActionList.Divider"]+.Item__LiBox-sc-yeql7o-0 {
    --divider-color: transparent !important;
}

.bcdRxb:hover:not([aria-disabled]),
.bcdRxb:focus:not([aria-disabled]),
.bcdRxb[data-focus-visible-added]:not([aria-disabled]) {
    --divider-color: transparent;
}

.bcdRxb:hover:not([aria-disabled])+.Item__LiBox-sc-yeql7o-0,
.bcdRxb[data-focus-visible-added]+li {
    --divider-color: transparent;
}

.cXyPXF {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 20px;
    min-height: 5px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 6px;
    -webkit-transition: background 33.333ms linear;
    transition: background 33.333ms linear;
    color: #1F2328;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: unset;
    border: unset;
    width: calc(100% - 16px);
    font-family: unset;
    text-align: unset;
    margin-top: unset;
    margin-bottom: unset;
    font-weight: 600;
}

.cXyPXF[aria-disabled] {
    cursor: not-allowed;
}

.cXyPXF[aria-disabled] [data-component="ActionList.Checkbox"] {
    background-color: var(--color-input-disabled-bg, rgba(175, 184, 193, 0.2));
    border-color: var(--color-input-disabled-bg, rgba(175, 184, 193, 0.2));
}

@media (hover:hover) and (pointer:fine) {
    .cXyPXF:hover:not([aria-disabled]) {
        background-color: rgba(208, 215, 222, 0.32);
        color: #1F2328;
    }

    .cXyPXF:focus-visible,
    .cXyPXF>a:focus-visible {
        outline: none;
        border: 2 solid;
        box-shadow: 0 0 0 2px #0969da;
    }

    .cXyPXF:active:not([aria-disabled]) {
        background-color: rgba(208, 215, 222, 0.48);
        color: #1F2328;
    }
}

@media (forced-colors:active) {
    .cXyPXF:focus {
        outline: solid 1px transparent !important;
    }
}

.cXyPXF [data-component="ActionList.Item--DividerContainer"] {
    position: relative;
}

.cXyPXF [data-component="ActionList.Item--DividerContainer"]::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: -7px;
    border: 0 solid;
    border-top-width: 0;
    border-color: var(--divider-color, transparent);
}

.cXyPXF:not(:first-of-type) {
    --divider-color: rgba(208, 215, 222, 0.48);
}

[data-component="ActionList.Divider"]+.Item__LiBox-sc-yeql7o-0 {
    --divider-color: transparent !important;
}

.cXyPXF:hover:not([aria-disabled]),
.cXyPXF:focus:not([aria-disabled]),
.cXyPXF[data-focus-visible-added]:not([aria-disabled]) {
    --divider-color: transparent;
}

.cXyPXF:hover:not([aria-disabled])+.Item__LiBox-sc-yeql7o-0,
.cXyPXF[data-focus-visible-added]+li {
    --divider-color: transparent;
}

.ckCyox {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 20px;
    min-height: 5px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    -webkit-transition: background 33.333ms linear;
    transition: background 33.333ms linear;
    color: #1F2328;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: unset;
    border: unset;
    width: 100%;
    font-family: unset;
    text-align: unset;
    margin-top: unset;
    margin-bottom: unset;
}

.ckCyox[aria-disabled] {
    cursor: not-allowed;
}

.ckCyox[aria-disabled] [data-component="ActionList.Checkbox"] {
    background-color: var(--color-input-disabled-bg, rgba(175, 184, 193, 0.2));
    border-color: var(--color-input-disabled-bg, rgba(175, 184, 193, 0.2));
}

@media (hover:hover) and (pointer:fine) {
    .ckCyox:hover:not([aria-disabled]) {
        background-color: rgba(208, 215, 222, 0.32);
        color: #1F2328;
    }

    .ckCyox:focus-visible,
    .ckCyox>a:focus-visible {
        outline: none;
        border: 2 solid;
        box-shadow: 0 0 0 2px #0969da;
    }

    .ckCyox:active:not([aria-disabled]) {
        background-color: rgba(208, 215, 222, 0.48);
        color: #1F2328;
    }
}

@media (forced-colors:active) {
    .ckCyox:focus {
        outline: solid 1px transparent !important;
    }
}

.ckCyox [data-component="ActionList.Item--DividerContainer"] {
    position: relative;
}

.ckCyox [data-component="ActionList.Item--DividerContainer"]::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: -7px;
    border: 0 solid;
    border-top-width: 0;
    border-color: var(--divider-color, transparent);
}

.ckCyox:not(:first-of-type) {
    --divider-color: rgba(208, 215, 222, 0.48);
}

[data-component="ActionList.Divider"]+.Item__LiBox-sc-yeql7o-0 {
    --divider-color: transparent !important;
}

.ckCyox:hover:not([aria-disabled]),
.ckCyox:focus:not([aria-disabled]),
.ckCyox[data-focus-visible-added]:not([aria-disabled]) {
    --divider-color: transparent;
}

.ckCyox:hover:not([aria-disabled])+.Item__LiBox-sc-yeql7o-0,
.ckCyox[data-focus-visible-added]+li {
    --divider-color: transparent;
}

.ckCyox:hover {
    border-radius: 0;
}

.gtrdQk {
    color: #0969da;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-radius: 6px;
    color: inherit;
}

.gtrdQk:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.gtrdQk:is(button) {
    display: inline-block;
    padding: 0;
    font-size: inherit;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.gtrdQk:hover {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.jTJsZl {
    color: #0969da;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border-radius: 6px;
    color: inherit;
    font-size: 12px;
    font-weight: 400;
}

.jTJsZl:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.jTJsZl:is(button) {
    display: inline-block;
    padding: 0;
    font-size: inherit;
    white-space: nowrap;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.jTJsZl:hover {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.hwVwfS {
    font-size: 14px;
    line-height: 20px;
    color: #1F2328;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid var(--control-borderColor-rest, #d0d7de);
    border-radius: 6px;
    outline: none;
    box-shadow: inset 0 1px 0 rgba(208, 215, 222, 0.2);
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 32px;
    width: 100%;
    height: 2rem;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
    border-right: none;
    min-width: 15rem;
}

.hwVwfS input,
.hwVwfS textarea {
    cursor: text;
}

.hwVwfS select {
    cursor: pointer;
}

.hwVwfS::-webkit-input-placeholder {
    color: #6e7781;
}

.hwVwfS::-moz-placeholder {
    color: #6e7781;
}

.hwVwfS:-ms-input-placeholder {
    color: #6e7781;
}

.hwVwfS::placeholder {
    color: #6e7781;
}

.hwVwfS:focus-within {
    border-color: #0969da;
    outline: none;
    box-shadow: inset 0 0 0 1px #0969da;
}

.hwVwfS>textarea {
    padding: 12px;
}

@media (min-width:768px) {
    .hwVwfS {
        font-size: 14px;
    }
}

.bIUUJm {
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 2rem;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    border-bottom-right-radius: unset;
    border-top-right-radius: unset;
    border-right: none;
    min-width: 15rem;
}

.bIUUJm> :not(:last-child) {
    margin-right: 8px;
}

.bIUUJm .TextInput-icon,
.bIUUJm .TextInput-action {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    color: #656d76;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.bIUUJm>input,
.bIUUJm>select {
    padding-left: 12px;
    padding-right: 12px;
}

.hDsDun {
    border: 0;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: inherit;
    width: 100%;
}

.hDsDun:focus {
    outline: 0;
}

.dEMaYP {
    font-weight: 600;
    font-size: 32px;
    margin: 0;
    font-size: 14px;
}