<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/cb-345/images/site/favicon.png">
    <link href="/manifest.json" rel="manifest">
    <meta name="google-site-verification" content="c1kuD-K2HIVF635lypcsWPoD4kilo5-jA_wBFyT4uMY">
    <title>Quickstart for GitHub Pages - GitHub Docs</title>
    <meta name="description" content="You can use GitHub Pages to showcase some open source projects, host a blog, or even share your résumé. This guide will help get you started on creating your next website.">
    <meta name="keywords" content="Pages">
    <meta name="path-language" content="en">
    <meta name="path-version" content="free-pro-team@latest">
    <meta name="path-product" content="pages">
    <meta name="path-article" content="pages/quickstart">
    <meta name="page-type" content="quick_start">
    <meta name="page-document-type" content="article">
    <meta name="status" content="200">
    <meta property="og:site_name" content="GitHub Docs">
    <meta property="og:title" content="Quickstart for GitHub Pages - GitHub Docs">
    <meta property="og:type" content="article">
    <meta name="next-head-count" content="20">
    <noscript data-n-css=""></noscript>
    <script defer="" nomodule="" src="/_next/static/chunks/polyfills.js?ts=1700971898784"></script>
    <script src="/assets/js/app.js" defer=""></script>
    <link rel="stylesheet" href="/assets/css/primer.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/default.css">
</head>

<body style="overflow: auto;">
    <div id="__next">
        <a href="#main-content" class="visually-hidden skip-button color-bg-accent-emphasis color-fg-on-emphasis">Skip to main content</a>
        {% include header.html %}
        <div class="d-lg-flex">
            {{ content }}
        </div>
    </div>
</body>

</html>